modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
build = "pnpm run build"
run = "pnpm --filter @workspace/api-server run start"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5099
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25224
externalPort = 3000

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "afs-admin-2024"
SMTP_HOST = "smtppro.zoho.com"
SMTP_PORT = "465"
SMTP_USER = "fly@acceleratedflightschool.net"
CONTACT_TO_EMAIL = "fly@acceleratedflightschool.net"
